@import url('https://fonts.googleapis.com/css?family=Righteous');

.button {
    -fx-font-weight: bold;
}

.dragBarText {
    -fx-font-family: 'Righteous';
    -fx-font-size: 18;
    -fx-text-fill: #dedee0;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 1, 0);
    -fx-padding: 0 0 2 8;
}